.master, .sound{
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1000;
	background: #fff;
}

.hide-master{
	display: none;
}

.contentPage{
	position: relative;
}

.page{
	display: none;
	position: absolute;
	top: 0;
	left: 0;
}
